useDynLib(list)

export(ictreg, predict.ictreg)
export(ictregBayes)
export(ict.test)
export(ictregBayesHier)
export(comp.listEndorse)
export(ictreg.joint, predict.ictreg.joint)
export(combined.listDirect)

importFrom(VGAM, betabinomial, vglm)
importFrom(gamlss.dist, dBB)
importFrom(MASS, mvrnorm)
importFrom(MASS, ginv)
importFrom(quadprog, solve.QP)
importFrom(mvtnorm, pmvnorm)
importFrom(mvtnorm, rmvnorm)
importFrom(sandwich, vcovHC)
importFrom(coda, mcmc)
importFrom(coda, as.mcmc)
importFrom(coda, as.mcmc.list)
importFrom(coda, gelman.diag)

importFrom(magic, adiag)
importFrom(corpcor, cor2pcor)
           
S3method(summary, ictreg)
S3method(print, ictreg)
S3method(print, summary.ictreg)
S3method(coef, ictreg)
S3method(vcov, ictreg)
S3method(predict, ictreg)
S3method(plot, predict.ictreg)
S3method(print, predict.ictreg)
S3method(c, predict.ictreg)
S3method(print, ict.test)

S3method(summary, ictreg.joint)
S3method(print, ictreg.joint)
S3method(print, summary.ictreg.joint)
S3method(coef, ictreg.joint)
S3method(vcov, ictreg.joint)
S3method(predict, ictreg.joint)

S3method(coef, ictregBayes)
S3method(vcov, ictregBayes)
S3method(predict, ictregBayes)
S3method(print, ictregBayes)
S3method(summary, ictregBayes)
S3method(print, summary.ictregBayes)
S3method(as.list, ictregBayes)

S3method(coef, ictregBayes.list)
S3method(vcov, ictregBayes.list)
S3method(predict, ictregBayes.list)
S3method(print, ictregBayes.list)
S3method(summary, ictregBayes.list)
S3method(print, summary.ictregBayes.list)

S3method(coef, ictregBayesHier)
S3method(predict, ictregBayesHier)
S3method(print, ictregBayesHier)
S3method(summary, ictregBayesHier)
S3method(print, summary.ictregBayesHier)
S3method(as.list, ictregBayesHier)
S3method(coef, ictregBayesHier.list)
S3method(predict, ictregBayesHier.list)
S3method(print, ictregBayesHier.list)
S3method(summary, ictregBayesHier.list)
S3method(print, summary.ictregBayesHier.list)

S3method(print, comblist)
S3method(summary, comblist)
S3method(print, summary.comblist)

